In [1]:
import pandas as pd

### Подгрузка данных из файла, переименование колонок и конвертация даты

In [2]:
yandex_images = pd.read_csv("data.tsv", delimiter="\t",header=None)
yandex_images.rename(columns={0:"request", 1:"date", 2:"platform"},inplace=True)
yandex_images['date'] = pd.to_datetime(yandex_images['date'],unit='s')
yandex_images.head()

                request                date platform
0            порно фото 2021-09-16 10:04:57    touch
1       малевич картины 2021-09-16 15:34:25  desktop
2                  Секс 2021-09-16 08:39:43    touch
3  с днём рождения лена 2021-09-16 05:52:43    touch
4      зверополис порно 2021-09-16 10:19:59    touch

In [8]:
# Выгрузить данные в csv
yandex_images.to_csv("yi.csv", sep="\t")

### Общее число записей и по платформам

In [3]:
print(f'All: {yandex_images.shape}')
print(f'Touch: {yandex_images[yandex_images.platform == "touch"].shape}')
print(f'Desktop: {yandex_images[yandex_images.platform == "desktop"].shape}')

All: (1203824, 3)
Touch: (792258, 3)
Desktop: (411566, 3)

In [4]:
# Количество запросов по платформам
yandex_images.groupby('platform').agg({'request':'count'})

          request
platform
desktop    411566
touch      792258

In [5]:
# Проверка на пустые значения
yandex_images[yandex_images.date.isna()]

Empty DataFrame
Columns: [request, date, platform]
Index: []

In [6]:
# Топ 10 запросов по десктопу
desktop = yandex_images[yandex_images.platform == "desktop"]
desktop.groupby('request', as_index=True).agg({'date':'count'}).sort_values('date', ascending=False).head(10)

                                 date
request
календарь 2021                   2804
таблица менделеева               2631
картинки                         1647
порно                            1342
английский алфавит               1293
обои на рабочий стол             1143
Одноклассники (социальная сеть)  1116
секс                              895
таблица квадратов                 877
алфавит                           874

In [7]:
# Топ 10 запросов по тачам
touch = yandex_images[yandex_images.platform == "touch"]
touch.groupby('request', as_index=True).agg({'date':'count'}).sort_values('date', ascending=False).head(10)

                         date
request
порно                    7740
секс                     6348
с днём рождения женщине  4903
с днём рождения          3967
с днём рождения мужчине  3623
хентай                   3157
с днем рождения          3005
xxx                      2429
Порно                    2330
календарь 2021           2237